<!DOCTYPE html>
<html>
<head>
  <title>St Paul Lutheran Church</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body class="stpaul">
  
  <div class="navbar">
        <div class="container-fluid">
          <%= image_tag 'St-Paul-Logo_500px.png', class: 'logo' %>
            <hr />
            <div class="stpl-menu">
                <ul class="nav navbar-nav mainNav">
                  <li><%= link_to 'Home', controller: 'welcome', action: 'index'%></li>
                  <li><a href="http://www.stplspartans.net" target="_blank">Christian Day School</a></li>
                  <!--<li><%= link_to 'About', controller: 'welcome', action: 'about' %></li>
                  <li><%= link_to 'Contact', controller: 'welcome', action: 'contact' %></li>-->
                </ul>
            </div>
        </div>
    </div>
  <div class="container-fluid">
    <%= yield %>
    <footer class="container">
        <!--<div class="row col-sm-12 login">
            <p>Login links here</p>
        </div>-->
        <hr />
		<div class="row">
			<div class="col-sm-3 wels-logo">
				<a class="welsLink" href="http://www.wels.net" target="_blank"><%= image_tag 'WELSlogofullcolor.jpg' %></a>
			</div>
			<div class="col-sm-9 address-info">
				<p>1319 Larson Street, Bloomer, WI 54724 | 715-568-4322</p>
				<small class="copyright">&copy; <%= Date.today.year %> - St. Paul Lutheran Church, Bloomer, WI</small>
				<small class="credits">Website by <a href="mailto:emilysmikl@gmail.com">ImagiWeb Design</a></small>
			</div>
		</div>
		
        
    </footer>
  </div>
</body>
</html>
